/* CBT: Tabbed windows */
/* TODO: Consider: Remove the @accent02 border at top of window contents
 * if 0-1 tabs only. Looks weird. */
notebook {
	padding: 0; }
	/* CBT: frame around tabs and content */
	notebook.frame {
		margin: -1px;
		border: none; }
		notebook.frame > header {
			margin: 0; }
			notebook.frame > header.top {
				margin-bottom: 0; }
			notebook.frame > header.bottom {
				margin-top: 0; }
			notebook.frame > header.left {
				margin-right: 0; }
			notebook.frame > header.right {
				margin-left: 0; }
			notebook.frame > header.top, notebook.frame > header.bottom {
				padding-left: 0;
				padding-right: 0; }
			notebook.frame > header.left, notebook.frame > header.right {
				padding-top: 0;
				padding-bottom: 0; }
	.nautilus-window notebook,
	.nautilus-window notebook > stack:not(:only-child) searchbar {
		background-color: @neutral04; }
	/* CBT: contents of current tab (and highlight the border?) */
	notebook > stack,
	notebook > header.top > tabs > tab:checked {
		zpadding: 0px;
		zmargin: 0px;
		zborder: 1px solid @neutral02;
		zbackground-color: magenta;
		zborder-top-color: @border01-light;
		zborder-left-color: @border01-lightless;
		zbackground-color: magenta;
		zborder-top-color: magenta;
		zborder-left-color: magenta;
		border-style: double;
		zborder-width: 8px;
		zborder-color: @accent02;
		zborder-image: url("assets/window-border-equal.png") 5 10 6 9 stretch;
		zborder-image: url("assets/thatch27.png") 5 10 15 20 repeat;
		border-top: 8px solid @accent02;
		zborder: 10px solid green; /*FINDME*/
		zfont-weight: bold;
		zcolor: yellow; /* CBT: geany status pane and nowhere else? */
}

		/* CBT: BackG: Behind elements if not otherwise defined
		 * And some random window text */
		notebook > stack:backdrop {
]			zborder-image: url("assets/window-border-equal.png") 5 10 6 9 stretch;
		zborder-image: url("assets/thatch35.png");
		zborder: 8px solid @FINDME; zbackground: @FINDME2;
		border-top: 8px solid @accent02-dim;
		border-style: solid;
		border-width: 8px 0px 0px 0px;
		border-image: url("assets/thatch29c.png") 5 9 repeat;
		zcolor: @FINDME2;

		}
		notebook > stack:not(:only-child) {
		/* CBT: MOVED to top of document to create consistency */ }

/* CBT: individual inactive tabs
 * also: message window in Geany */
	notebook tab {
		padding: 0.1em 0.5em 0.1em 0.5em;
		margin: 0.2em;		/*space between tabs */
		border-width: 1px;
		border-style: solid;
		zborder-width: 5px;
		border-style: double;
		zborder-radius: 5px;
		border-width: 8px 18px 0px 18px;
		zborder-color: @neutral02;
		zborder-color: #ff355b;
		color: @black;
		background-color: @neutral04;
		font-size: small;
		zfont-family: "Fira Sans Compressed";
		font-family: "Roboto Condensed";
		zfont-family: "ProFont";
		zborder: 10px solid blue; /*FINDME*/}
		/* CBT: Current tab (in/active windows) */
		notebook tab:checked {
			zborder-color: @FINDME;
			background-color: @neutral10;
			zcolor: @neutral10-contrast;
			border-width: 8px 18px 0px 18px;
			zborder: 10px solid purple; /*FINDME*/
		zfont-weight: bold;
		zcolor: @FINDME2;}
			notebook tab:checked:backdrop {
				zborder-color: @neutral10-dimmed-contrast;
				zbackground-color: @neutral10-dimmed;
				zbackground-color: @FINDME;
				background-image: url("assets/thatch35.png");
				/* TODO: Make the line that goes under the tab bar match the current tab color in background windows */
			zborder: 10px solid magenta; /*FINDME*/
				}
	notebook > header {
		zpadding-top: 2px;
		/* CBT: BackG: Behind tabs */
		background-color: @neutral01; }
		/* CBT: this will show behind transparency of individual tab border image */
		notebook > header.top {
			box-shadow: 0 1px @border01;
			 zbackground: rgb(131,58,180);
			zbackground: linear-gradient(180deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); ;}
			/* CBT: individual tabs */
			notebook > header.top > tabs > tab {
				border-bottom: none;
				margin-top: 2px;
				margin-bottom: 1px;
				zborder-bottom-left-radius: 0;
				zborder-bottom-right-radius: 0;
				zborder-top-color: @border01-light;
				zborder-left-color: @border01-lightless;
				background-color: @neutral01;
				color: @neutral01-contrast;
				border-style: solid;
				border-width: 8px 18px 0px 18px;
				zborder-image: url("assets/thatch28.png") 4 9  repeat;
				zborder-image: url("assets/thatch29.png") 5 9  repeat;
				border-image: url("assets/thatch29c.png") 5 9  repeat;
				zborder: 10px solid orange; /*FINDME*/}
				/* CBT: Current tab */
				notebook > header.top > tabs > tab:checked {
					margin-top: 0;
					margin-bottom: -1px;
					zpadding: -10px;
					background-color: @accent02;
					font-weight: bold;
					zfont-size: medium;}
					/* CBT: Current tab in the background */
					notebook > header.top > tabs > tab:checked:backdrop {
						color: @accent02-dim-contrast;}
		notebook > header.bottom {
			padding-top: 0;
			box-shadow: 0 -1px @neutral02; }
			notebook > header.bottom > tabs > tab {
				border-top: none;
				margin-bottom: 2px;
				margin-top: 1px;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
				border-left-color: @border01-lightless; }
				notebook > header.bottom > tabs > tab:checked {
					margin-bottom: 0;
					margin-top: -1px; }
		notebook > header.right {
			box-shadow: -1px 0 @neutral02; }
			notebook > header.right > tabs > tab {
				border-left: none;
				margin-right: 2px;
				margin-left: 1px;
				border-bottom-left-radius: 0;
				border-top-left-radius: 0;
				border-top-color: @border01-light; }
				notebook > header.right > tabs > tab:checked {
					margin-right: 0;
					margin-left: -1px; }
		notebook > header.left {
			box-shadow: 1px 0 @border01; }
			notebook > header.left > tabs > tab {
				border-right: none;
				margin-left: 2px;
				margin-right: 1px;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				border-top-color: @border01-light;
				border-left-color: @border01-lightless; }
				notebook > header.left > tabs > tab:checked {
					margin-left: 0;
					margin-right: -1px; }
	notebook > header.top > tabs > arrow.up, notebook > header.bottom > tabs > arrow.up {
		-gtk-icon-source: -gtk-icontheme("pan-end-symbolic"); }
		notebook > header.top > tabs > arrow.up:last-child, notebook > header.bottom > tabs > arrow.up:last-child {
			margin-left: 2px; }
	notebook > header.top > tabs > arrow.down, notebook > header.bottom > tabs > arrow.down {
		-gtk-icon-source: -gtk-icontheme("pan-start-symbolic"); }
		notebook > header.top > tabs > arrow.down:first-child, notebook > header.bottom > tabs > arrow.down:first-child {
			margin-right: 2px; }
	notebook > header.left > tabs > arrow.up, notebook > header.right > tabs > arrow.up {
		-gtk-icon-source: -gtk-icontheme("pan-down-symbolic"); }
		notebook > header.left > tabs > arrow.up:last-child, notebook > header.right > tabs > arrow.up:last-child {
			margin-top: 2px; }
	notebook > header.left > tabs > arrow.down, notebook > header.right > tabs > arrow.down {
		-gtk-icon-source: -gtk-icontheme("pan-up-symbolic"); }
		notebook > header.left > tabs > arrow.down:first-child, notebook > header.right > tabs > arrow.down:first-child {
			margin-bottom: 2px; }
	notebook > header > tabs > arrow {
		color: @black; }
		notebook > header > tabs > arrow:hover {
			color: black; }
		notebook > header > tabs > arrow:active {
			color: black; }
		notebook > header > tabs > arrow:disabled {
			color: @dimgray-656979; }

/* CBT: Lines that seperate paned windows */
paned > separator,
paned > separator:backdrop {
	border: none;
	color: transparent;
	zpadding: 20px;
	background-color: @neutral02;
	border-style: solid;
	border-width: 8px 8px 0px 0px;
	border-image: url("assets/window-border-equal.png") 10 stretch;
	zborder: 8px solid @FINDME; zbackground: @FINDME2; }
	paned > separator:hover {
		zborder: 8px solid @FINDME;
		border-style: solid;
		border-width: 8px 8px 0px 0px;
		border-image: none;

		border-color: @accent02;
	}
	paned > separator:backdrop {
		zbackground-color: @neutral02; }
	paned > separator:selected {
		zbackground-color: @neutral02;}
	paned .sidebar.left,
	paned .sidebar.right,
	paned .sidebar.left:dir(rtl),
	paned .sidebar:dir(rtl),
	paned .sidebar:dir(ltr),
	paned .sidebar {
		border-style: none; }








/* CBT: the combo titlebar/button bar CSD */
headerbar {
	padding: 0px 7px 0px 7px;
	height: 24px;
	color: @accent01-contrast;
	background-color: @accent01;
	border-style: solid;
	border-width: 6px;
	border-image: url("assets/window-border-equal.png") 6 10 6 9 stretch;
	font-size: smaller;
	font-family: "Roboto Condensed";
	}
	/* inactive window */
	headerbar:backdrop {
		color: @accent01-dim-contrast;
		background-image: none;
		background-color: @accent01-dim; }
		.tiled headerbar, 
		.tiled headerbar:backdrop, 
		.maximized headerbar, 
		.maximized headerbar:backdrop {
			border-radius: 0;}
	separator:first-child + headerbar, 
	separator:first-child + headerbar:backdrop, 
	headerbar:first-child, 
	headerbar:first-child:backdrop {
		border-top-left-radius: 0px; }
		.maximized separator:first-child + headerbar, 
		.tiled separator:first-child + headerbar, 
		.maximized separator:first-child + headerbar:backdrop, 
		.tiled separator:first-child + headerbar:backdrop, 
		.maximized headerbar:first-child, 
		.tiled headerbar:first-child, 
		.maximized headerbar:first-child:backdrop, 
		.tiled headerbar:first-child:backdrop {
			border-radius: 0; }
	headerbar:last-child, 
	headerbar:last-child:backdrop {
		border-top-right-radius: 0px; }
		.maximized headerbar:last-child, 
		.tiled headerbar:last-child, 
		.maximized headerbar:last-child:backdrop, 
		.tiled headerbar:last-child:backdrop {
			border-radius: 0; }
	headerbar .title {
		padding-left: 12px;
		padding-right: 12px;
		font-weight: bold;
		color: @accent01-contrast; }
		headerbar .title:backdrop {
			color: @black; }
	headerbar .subtitle {
		font-size: smaller;
		padding-left: 12px;
		padding-right: 12px;
		color: rgba(255, 255, 255, 0.7);}
		headerbar .subtitle:backdrop {
			color: rgba(0, 0, 0, 0.7); }
/* CBT: buttons in titlebar that are NOT window action buttons */
	headerbar button {
		padding: 0.1em;
		border-style: solid;
		border-width: 1px;
		border-radius: 0px;
		color: @black;
		border-color: @border01-top @border01-right @border01-bottom @border01-left;
		background-color: @border01-light;
		-gtk-outline-radius: 0px;
		outline-color: @accent01;
		outline-offset: 2px;
		outline-style: solid; }
		headerbar button:active, 
		headerbar button:checked {
			color: @black;
		border-color: @border01-top @border01-right @border01-bottom @border01-left;
			background-color: @neutral04;
			background-image: none; }
			headerbar button:active:disabled, 
			headerbar button:checked:disabled {
				color: @black-off;
				text-shadow: 1px 1px rgba(255, 255, 255, 0.7);
				background-color: @lightslategray-9397a8; }
		headerbar button:disabled {
			color: @black;
			text-shadow: 1px 1px rgba(255, 255, 255, 0.85);}
	headerbar entry {
		padding: 4px 8px; }
	headerbar.titlebar, 
	.titlebar headerbar {
		border-radius: 0px 0px 0px 0px; }
	/* CBT: window action buttons */
	headerbar .titlebutton.close, 
	headerbar .titlebutton.maximize, 
	headerbar .titlebutton.minimize, 
	headerbar .titlebutton:not(separator) {
		min-width: 28px;
		min-height: 28px;
		color: transparent;
		background: none;
		box-shadow: none;
		border-width: 2px;
		border-color: white black black white;
		padding: 0;
		margin: 1px;
		border-radius: 0;
		-gtk-icon-shadow: none;
		background-position: center;
		background-repeat: no-repeat; }
	headerbar .titlebutton.close {
		background-image: url("assets/close-large-borderless.png"); }
		headerbar .titlebutton.close:backdrop {
}
	headerbar .titlebutton.minimize {
		background-image: url("assets/hide-large-borderless.png"); }
		headerbar .titlebutton.minimize:backdrop {
}
	headerbar .titlebutton.maximize {
		background-image: url("assets/maximize-large-borderless.png"); }
		headerbar .titlebutton.maximize:backdrop {
}

/* CBT: items at top of window in some places */
toolbar {
	padding: 4px;
	border: 1px solid @neutral02;
	color: @black;
	background-color: @neutral01;
	border-top-color: @border01-light;
	border-left-color: @border01-lightless; }
	toolbar:backdrop {
		color: @black;
		background-color: @neutral01; }
	toolbar:disabled {
		color: @dimgray-575962;
		background-color: @darkgray-a5a9b9; }
	toolbar button.flat {
		border-color: transparent;
		border-radius: 0px;
		color: @black;
		box-shadow: none;
		background-color: transparent; }
		toolbar button.flat:hover {
			color: @black;
			background-color: @neutral01;
			border-color: @neutral02;
			border-top-color: @border01-light;
			border-left-color: @border01-lightless;
			background-color: @neutral01; }
		toolbar button.flat:active, toolbar button.flat:checked {
			color: @black;
			border-top-color: @neutral02;
			border-left-color: @neutral02;
			border-bottom-color: @border01-dark;
			border-right-color: @border01-darkless;
			background-color: @neutral04;
			background-image: none; }
			toolbar button.flat:active:disabled, toolbar button.flat:checked:disabled {
				color: @black-off;
				text-shadow: 1px 1px rgba(255, 255, 255, 0.7);
				background-color: @lightslategray-9397a8; }
		toolbar button.flat:disabled {
			border-color: transparent;
			color: rgba(0, 0, 0, 0.8);
			text-shadow: 1px 1px rgba(255, 255, 255, 0.7);
			background-color: transparent; }
	toolbar menubar {
		-GtkToolbar-button-relief: normal; }

/* CBT: buttons, for example in Geany */
.primary-toolbar {
	-GtkWidget-window-dragging: true;
	padding: 0px;
	zborder-width: 1px;
	zborder-style: solid;
	zborder-color: @neutral02;
	zborder-top-color: @border01-light;
	zborder-left-color: @border01-lightless;
	color: @black;
	background-color: @neutral01; 
	zbackground-color: @FINDME2;
	zborder: 6px double magenta;}
	.primary-toolbar:backdrop {
		zborder-color: @neutral01;
		color: @black;
		background-color: @neutral01;
		zbackground-color: @FINDME2;
		zborder: 6px dashed magenta; }
	/* CBT: hover state */
	.primary-toolbar button, 
	.primary-toolbar .raised button {
		padding: 0px;
		border-style: solid;
		border-width: 10px;
		zborder-radius: 0px;
		color: inherit;
		zborder-color: @neutral02;
		zborder-top-color: @border01-light;
		zborder-left-color: @border01-lightless;
		background-color: @neutral01;
		-gtk-outline-radius: 0px;
		zoutline-color: @accent01;
		outline-offset: 2px;
		zoutline-style: solid; 
		zbackground-color: @FINDME2;
		zborder: 16px solid magenta;}
		.primary-toolbar button:active, 
		.primary-toolbar button:checked, 
		.primary-toolbar .raised button:active, 
		.primary-toolbar .raised button:checked {
			color: @black;
			zborder-top-color: @neutral02;
			zborder-left-color: @neutral02;
			zborder-bottom-color: @border01-dark;
			zborder-right-color: @border01-darkless;
			background-color: @neutral04;
			background-image: none; 
		zbackground-color: @FINDME2;
		zborder: 6px dashed magenta;}
			.primary-toolbar button:active:disabled, 
			.primary-toolbar button:checked:disabled, 
			.primary-toolbar .raised button:active:disabled, 
			.primary-toolbar .raised button:checked:disabled {
				color: @black-off;
				text-shadow: 1px 1px rgba(255, 255, 255, 0.7);
				background-color: @lightslategray-9397a8; 
		zbackground-color: @FINDME2;
		zborder: 6px dashed magenta;}
		.primary-toolbar button:disabled, 
		.primary-toolbar 
		.raised button:disabled {
			color: @black;
			text-shadow: 1px 1px rgba(255, 255, 255, 0.85);
		zbackground-color: @FINDME2;
		zborder: 6px dashed magenta; }

.inline-toolbar {
	padding: 1px;
	border-width: 1px;
	border-style: solid;
	border-color: @neutral02;
	border-top-color: @border01-light;
	border-left-color: @border01-lightless;
	border-radius: 0;
	background-color: @neutral01; }
	.inline-toolbar:backdrop {
		border-color: @neutral02;
		background-color: @neutral01; }
	.inline-toolbar toolbutton > button {
		padding: 4px 8px;
		border-style: solid;
		border-width: 1px;
		border-radius: 0px;
		color: @black;
		border-color: @neutral02;
		border-top-color: @border01-light;
		border-left-color: @border01-lightless;
		background-color: @neutral01;
		-gtk-outline-radius: 0px;
		outline-color: @accent01;
		outline-offset: 2px;
		outline-style: solid; }
		.inline-toolbar toolbutton > button:active, .inline-toolbar toolbutton > button:checked {
			color: @black;
			border-top-color: @neutral02;
			border-left-color: @neutral02;
			border-bottom-color: @border01-dark;
			border-right-color: @border01-darkless;
			background-color: @neutral04;
			background-image: none; }
			.inline-toolbar toolbutton > button:active:disabled, .inline-toolbar toolbutton > button:checked:disabled {
				color: @black-off;
				text-shadow: 1px 1px rgba(255, 255, 255, 0.7);
				background-color: @lightslategray-9397a8; }
		.inline-toolbar toolbutton > button:disabled {
			color: @black;
			text-shadow: 1px 1px rgba(255, 255, 255, 0.85); }
