something   {
		color: transparent;
		background: none;
		box-shadow: none;
		zborder: none;
		border-width: 2px;
		border-color: white black black white;
		zborder-style: none;
		zborder-style: hidden;
		zborder-style: dotted;
		zborder-style: dashed;
		zborder-style: double;
		zborder-style: groove;
		zborder-style: ridge;
		zborder-style: inset;
		zborder-style: outset;
		zborder-style: solid;
		padding: 0;
		border-radius: 0;
	}

/* a gradient for headerbar (doesn't work in firefox, probably elsewhere also) */
headerbar {
	 background: rgb(31,28,30);
background: linear-gradient(0deg, rgba(31,28,30,1) 0%, rgba(246,246,246,1) 10%, rgba(31,28,30,1) 13%, @accent01 18%, @accent01 83%, rgba(31,28,30,1) 88%, rgba(246,246,246,1) 90%, rgba(31,28,30,1) 100%); 
}

/* CBT: the combo titlebar/button bar CSD */
headerbar {
	padding: 0px 7px 0px 7px;
	zmin-height: 34px;
	height: 24px;
	color: @accent01-contrast;
	background-color: @accent01;
	border-style: solid;
	border-width: 8px;
		zborder-image: url("assets/window-border-equal.png") 5 9;
	zbackground-image: url("assets/title-large.png");
	zbackground-repeat: repeat-x;
	zborder-color: @border01-light @border01-darkless @border01-dark @border01-lightless;
	zborder-image: linear-gradient(#f6b73c, #4d9f0c) 60;
	zborder-image: url("assets/border-horizontal.png");
	zborder-image-slice: 5 18 fill;
	zborder-image-width: 100%;
	zborder-image-repeat: spaces;
	zborder-image: url("assets-working/bg.png");
	zborder-image-slice: 30 fill;
	border-image: url("assets/window-border-equal.png") 5 10 6 9 stretch stretch;
border-width: 8px 22px 8px 22px;
	font-size: smaller;
	font-family: "Roboto Condensed";
	font-size: small;
	zfont-family: "Fira Sans Compressed";
	font-family: "Roboto Condensed";
	zfont-family: "ProFont";}
	}





















